@using Tangy.Views.Manage


<a class="form-control btn btn-outline-primary" asp-action="Index">Profile</a>
<br /><br />
<a class="form-control btn btn-outline-primary" asp-action="ChangePassword">Password</a>
<br /><br />

<a class="form-control btn btn-outline-primary" asp-action="TwoFactorAuthentication">Two-factor authentication</a>


